a {
  color: $secondary-color !important;
}

button:focus {
  box-shadow: none !important;
}

.btn {
  height: 40px !important;
  padding: 0 28px !important;
  border-radius: 10px !important;

  &.btn-icon {
    display: flex;
    align-items: center;

    i {
      display: flex !important;
      align-items: center;
      margin-right: 8px;
    }
  }
}


.btn-primary {
  background-color: $secondary-color !important;
}
