@import 'src/styles/colors';
@import 'src/styles/mixins';

.aco-facts {
  @include no-select();
  background-color : $primary-color;
  color            : white;
  padding-top      : 3em;
  padding-bottom   : 3em;

  h2.aco-facts-title {
    text-transform   : uppercase;
    font-weight      : bold;
    text-align       : center;
    background-color : $primary-color;
    width            : 350px;
    margin           : 0 auto;
    margin-top       : -1em;
  }

  hr {
    background-color : $secondary-color;
  }

  .fact-num {
    font-weight     : bold;
    display         : flex;
    align-items     : center;
    justify-content : center;
    flex-direction  : column;

    .fact-num-val {
      font-size   : 50px;
      white-space : nowrap;
    }

    .fact-num-text {
      color          : $secondary-color;
      text-transform : uppercase;
      font-size      : 20px;
    }
  }
}